.progress-steps {
  margin-left: 20px;
  overflow: inherit;

  li {
    @include transition-duration(0.3s);
    padding: 10px 25px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: 0;
    color: white;
    font-size: 14px;
    background-color: $c_light_grey;

    &.current, &.current-first, &.current-last {
      background-color: $c_bright_blue;
      color: white;
    }    

    &.current, &.current-first, &.current-last,
    &.completed-first, &.completed-last, &.completed {
      
    }

    &.completed-first, &.completed-last, &.completed {
      background-color: lighten($c_green, 10);  
      &, a {
        color: lighten($c_green, 40);
      }
    }
     
  }  
}

#shipping_method {
  p {
    label {
      font-size: 14px;
      font-weight: 600;
    }
  }  
}

fieldset {
  border: none !important;
  border-top: 1px solid lighten($c_blue, 30) !important;

  legend {
    font-size: 16px !important;
    font-weight: 600 !important;
  } 
}

#checkout-summary {
  border: none;
  text-align: left;
  margin-top: -4px;
  text-transform: uppercase;

  h3 {
    font-size: 16px !important;
    font-weight: 600;
    color: $c_blue;
    text-align: center;
    border-width: 1px;
  }  

  tr[data-hook="order_total"] {
    td {
      border-top: 1px solid lighten($c_green, 30);
      color: $c_green;
    }  
  }
}

#summary-order-charges, #order-charges {
  td {
    font-size: 12px;
    font-weight: 600 !important;
    
    &:last-child, &:last-child span {
      color: $c_orange;
    }
    &:last-child { 
      &:before {
        content: '+ ';
      } 
    }
  }  
}

#payment-methods fieldset {
  border: none !important;  
}

.payment-method-selector.ui-buttonset {
  text-align: center;  
}

[data-hook="checkout_form_wrapper"] {
  .form-buttons {
    text-align: center;
  }  
}

h1[data-hook="checkout_title"] {
  border: none !important;
  font-size: 25px !important;
  text-transform: uppercase;
  position: relative;
  top: -13px;
  left: 50px;
  color: $c_light_grey !important;
  font-weight: 400 !important;
}

h3.stock-location {
  display: none;
}

h5.stock-shipping-method-title {
  background-color: $c_bright_blue !important;
  color: $c_white;
  font-size: 14px !important;
  font-weight: 600 !important;
  border: none !important;
  padding: 5px 10px;
}

table.stock-contents, table#line-items, table.order-summary {
  thead {
    tr {
      background: $c_bright_blue;
      color: $c_white;

      th {
        font-size: 14px !important;
        font-weight: 600 !important;
      }
    }
  }

  tbody {
    tr:last-child {
      border: none;
    }
  }
}

#summary-order-total, [data-hook="order_details"] [data-hook="order_item_total"] span,
#order_total {
  color: $c_green !important;  
  font-weight: 600 !important;
}

[data-hook="order_item_total"] {
  text-align: center;  
}

[data-hook="order_details_total"] {
  td {
    border-top: 1px solid lighten($c_blue, 30);
  }
}

fieldset#order_details hr {
  display: none;
}

fieldset#order_summary {
  border-top: none !important;

  strong {
    margin: 30px 0;
    display: block;
  }
}

#order {
  hr {
    display: none;
  }
}