#user-info {
  border: none;
  padding: 0;

  
  dt {
    width: auto;
    padding-left: 0;

    &:after {
      content: ':';  
    }
  }

  dd {
    margin-left: inherit;  
  }
  
}

.account-summary {
  font-size: 15px;
  
  h3 {
    display: none;
  }
}

.account-my-orders {
  h3 {
    border: none !important;
    color: $c_bright_blue !important;
  }
}